/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-communication-admin-communication:before {
  background-image: url("../icons/bebebe/speech-bubble.svg");
}
.toolbar-bar .toolbar-icon-communication-admin-communication:active:before {
  background-image: url("../icons/ffffff/speech-bubble.svg");
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-communication-admin-communication:before {
  background-image: url("../icons/787878/speech-bubble.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-communication-admin-communication:active:before,
.toolbar-tray .toolbar-icon.toolbar-icon-communication-admin-communication.is-active:before {
  background-image: url("../icons/000000/speech-bubble.svg");
}
