.field--widget-contact-reference-autocomplete > div.form-type-entity-autocomplete {
  vertical-align: top;
}

.field--widget-contact-reference-autocomplete .form-type-entity-autocomplete,
.field--widget-contact-reference-autocomplete .button,
.field--widget-contact-reference-autocomplete .dropbutton-wrapper {
  display: inline-block;
}

.field--widget-contact-reference-autocomplete .dropbutton-wrapper {
  padding-top: 20px;
  margin: 0.75em 0;
}
