{#
/**
* @file
* Theme override to present all communication
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
*   print a subset such as 'content.field_example'. Fields attached to a user
*   such as 'user_picture' are available as 'content.user_picture'.
* - attributes: HTML attributes for the container element.
* - communication: A Drupal communication entity.
*
* @see template_preprocess_communication()
*/
#}
<article{{ attributes }}>
  {# If subject exists, add to email render preview #}
  {% if communication.subject.value %}
    <h2>{{ communication.subject.value }}</h2>
  {% endif %}

  {# If from exists, add to email render preview #}
  {{ _self.display_participants(communication.from, "From: ") }}

  {# If tos exist, add to email render preview #}
  {{ _self.display_participants(communication.tos, "To: ") }}

  {# If ccs exist, add to email render preview #}
  {{ _self.display_participants(communication.ccs, "Cc: ") }}

  {# If bccs exist, add to email render preview #}
  {{ _self.display_participants(communication.bccs, "Bcc: ") }}

  <br>

  {# If html body exists, use it, otherwise use plain text body if it exists #}
  {% if content.body_html %}
    {{ content.body_html }}
  {% elseif communication.body_plain.value %}
    {{ communication.body_plain.value }}
  {% endif %}

  <br>

  {# If attachments exist, add to email render preview #}
  {% if content.attachments %}
    {{ content.attachments }}
  {% endif %}
</article>

{% macro display_participants(participants, label) %}
  <div>
    {% if participants.0 %}
      {{ label }}
      {% for participant in participants %}
        {% if participant.entity.contact.entity.label() %}
          <strong>{{ participant.entity.contact.entity.label() }}</strong> &lt;{{ participant.entity.email.value }}&gt;&nbsp;
        {% elseif participant.name.value %}
          <strong>{{ participant.name.value }}</strong> &lt;{{ participant.entity.email.value }}&gt;&nbsp;
        {% elseif participant.label() %}
          <strong>{{ participant.label() }}</strong> &lt;{{ participant.entity.email.value }}&gt;&nbsp;
        {% else %}
          {{ participant.entity.email.value }}&nbsp;
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
